//-colors-//
$turquoise-color: #4dd6cb;
$orange-color: #ff942d;
$blue-color: #009aff;
$dark-blue-color: #0070ba;
$dark-slate-blue-color: #224b7a;
$white-color: #ffffff;
$white-opacity: rgba(245, 245, 245, 0.94);
$grey-color: #cfcfcf;
$dark-grey-color: #aaaaaa;
$black-color: #0f0f0f;

$background-color: #fff;
$text-color: #242424;
$light-grey-color: #D8D8D8;